{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading"><i class="fa fa-home fa-fw fa-lg"></i> Home</h5>
        </div>
        <div class="list-group-item">
          <p class="lead">This is an example Python/Flask application using OAuth for user authentication.</p>
        </div>
      </div>
      <div class="panel-footer">
        <a class="btn btn-lg btn-primary" href="/signin" role="button"><i class="fa fa-sign-in fa-fw fw-lg" aria-hidden="true"></i> Sign in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
