{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading"><i class="fa fa-sign-in fa-fw fa-lg"></i> Sign in</h5>
        </div>
        <div class="list-group-item">
          <form>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-sign-in fa-fw fa-lg" aria-hidden="true"></i> Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
